<header>
    <img routerLink="/" src="/assets/logo.png">
    <nav>
        <ul>
            <li>
                <a [ngClass]="router.url === '/editor' ? 'active' : ''" routerLink="/editor">Editor</a>
            </li>
            <li>
                <a [ngClass]="router.url === '/chat' ? 'active' : ''" routerLink="/chat">Chat</a>
            </li>
            <li>
                <a [ngClass]="router.url === '/support' ? 'active' : ''" routerLink="/support">Support</a>
            </li>
            <li>
              <a [ngClass]="router.url === '/play' ? 'active' : ''" routerLink="/play">Play</a>
            </li>
            <li>
                <a class="logout" (click)="logout()">Logout</a>
            </li>
        </ul>
    </nav>
</header>