<div class="home">
    <div>
        <header>
            <nav>
                <img routerLink="/" src="/assets/logo.png">
                <ul>
                    <li>
                        <a routerLink="/login">Login</a>
                    </li>
                    <li>
                        <a routerLink="/signup">Signup</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <div>
                    <h1>Fight to the <span class="hightlight">dev</span>th!</h1>
                    <p>Welcome to the great algorithms fighting game! You're a beginner in programming? Come and practice!</p>
                    <a class="button" routerLink="/signup">Sign up</a>
                </div>
            </div>
        </main>
        <footer>
            <span>Copyright © 2020 Tatakae!</span>
        </footer>
    </div>
</div>