.ticket-color {
  background-color: #ca792b;
  background: -webkit-linear-gradient(135deg, #e48c3b, #b16014);
  background: linear-gradient(135deg, #e48c3b, #b16014);
}

.room-color {
  background-color: #5bc0de;
  background: -webkit-linear-gradient(135deg, #5bc0de, #2277e6);
  background: linear-gradient(135deg, #5bc0de, #2277e6);
}

.chat-room {
  width: 100%;
  border-radius: 5px;
  padding: 16px 50px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
  }

  &:nth-child(1n+2) {
    margin-top: 30px;
  }
}

.chat-room-name {
  font-size: 32px;
  font-weight: bold;
}
