.ticket-color {
  background-color: #ca792b;
  background: -webkit-linear-gradient(135deg, #e48c3b, #b16014);
  background: linear-gradient(135deg, #e48c3b, #b16014);
}

.room-color {
  background-color: #5bc0de;
  background: -webkit-linear-gradient(135deg, #5bc0de, #2277e6);
  background: linear-gradient(135deg, #5bc0de, #2277e6);
}

.chat-room {
  width: 100%;
  border-radius: 5px;
  min-height: 100px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  transition: all 0.2s;
  padding: 10px 15px;

  &:nth-child(1n + 2) {
    margin-top: 15px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

.chat-room-name {
  font-size: 32px;
  font-weight: bold;
}
