<app-user-control>
    <!-- <app-header></app-header> -->

    <div *ngIf="isSupportPage; else addNewRoom">
        <form nz-form [formGroup]="newTicketForm" (ngSubmit)="onTicketSubmit(newTicketForm.value)">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="ticket-name">Ticket name</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="ticket-name" type="text" id="ticket-name" formControlName="name">
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>

    <ng-template #addNewRoom>
        <form nz-form [formGroup]="newRoomForm" (ngSubmit)="onRoomSubmit(newRoomForm.value)">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="room-name">Room name</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="room-name" type="text" id="room-name" formControlName="name">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="guest-name">Guest name</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="guest-name" type="text" id="guest-name" formControlName="guest"
                        (input)="onGuestInput($event)" [nzAutocomplete]="auto" />
                    <nz-autocomplete [nzDataSource]="searchedGuestUsers" nzBackfill #auto></nz-autocomplete>
                </nz-form-control>
            </nz-form-item>

            <button nz-button [nzType]="'primary'" [disabled]="!newRoomForm.valid">Submit</button>
        </form>
    </ng-template>

    <!-- <main>
        <div *ngIf="isSupportPage; else addNewRoom">
            <form [formGroup]="newTicketForm" (ngSubmit)="onTicketSubmit(newTicketForm.value)">
                <div class="form-entry">
                    <label for="ticket-name">Ticket name</label>
                    <input id="ticket-name" type="text" formControlName="name" required>
                    <div *ngIf="ticketName.invalid && (ticketName.dirty || ticketName.touched)" class="error-message">
                        Ticket name is required.
                    </div>
                </div>
                <div class="bottom">
                    <button class="button" [disabled]="!newTicketForm.valid" type="submit">Submit</button>
                </div>
            </form>
        </div>

        <ng-template #addNewRoom>
            <form [formGroup]="newRoomForm" (ngSubmit)="onRoomSubmit(newRoomForm.value)">
                <div class="form-entry">
                    <label for="room-name">Room name</label>
                    <input id="room-name" type="text" formControlName="name" required>
                    <div *ngIf="roomName.invalid && (roomName.dirty || roomName.touched)" class="error-message">
                        Room name is required.
                    </div>
                </div>
                <div class="form-entry">
                    <label for="guest">Guest name</label>
                    <input id="guest" list="guests" type="text" formControlName="guest" required
                        (keyup)="onGuestUpdate($event)">
                    <div *ngIf="roomGuest.invalid && (roomGuest.dirty || roomGuest.touched)" class="error-message">
                        Guest username is required.
                    </div>
                    <datalist id="guests">
                        <option *ngFor="let user of searchedUsers" value="{{ user.username }}">{{user.username}}
                        </option>
                    </datalist>
                </div>
                <div class="bottom">
                    <button class="button" [disabled]="!newRoomForm.valid" type="submit">Submit</button>
                </div>
            </form>
        </ng-template>

        <hr>

        <a *ngFor="let room of rooms" routerLink="{{ redirectToUrl }}/{{ room.id }}"
            [ngClass]="isSupportPage ? 'ticket-color' : 'room-color'" class="chat-room no-style">
            <div class="chat-room-name">{{ room.name }}</div>
            <div>{{ room.users.length }} users</div>
        </a>
    </main> -->

    <nz-list nzItemLayout="horizontal">
        <nz-list-item *ngFor="let room of rooms" routerLink="{{ redirectToUrl }}/{{ room.id }}" class="chat-room"
            [ngClass]="isSupportPage ? 'ticket-color' : 'room-color'">
            <div class="chat-room-name">{{ room.name }}</div>
            <div>{{ room.users.length }} users</div>
        </nz-list-item>
    </nz-list>
</app-user-control>