<div class="container">
    <header>
        <img routerLink="/dashboard" src="/assets/logo.png" alt="">
        <nav>
            <ul>
                <li>
                    <a [ngClass]="router.url === '/dashboard/groups' ? 'active' : ''" routerLink="/dashboard/groups">Permission Groups</a>
                </li>
                <li>
                    <a [ngClass]="router.url === '/dashboard/user-groups' ? 'active' : ''" routerLink="/dashboard/user-groups">User Groups</a>
                </li>
                
                <hr>

                <li>
                    <a routerLink="/editor">Back to website</a>
                </li>
                <li>
                    <a class="logout" (click)="logout()">Logout</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="component-container">
        <ng-content></ng-content>
    </div>
</div>