<app-user-control>
    <app-header></app-header>
    <main>
        <div>
            <h2>Player {{user.username}}</h2>
            <ul>
                <li>
                    <div>User name : {{user.username}}</div>
                </li>
                <li>
                    <div>User robot : {{user.robot}}</div>
                </li>
                <li>
                    <div>Default running language : <mat-form-field appearance="fill">
                            <mat-label>Available languages</mat-label>
                            <mat-select [(value)]="user.running_language">
                                <mat-option value="js" (click)="update_default_language('js')">js</mat-option>
                                <mat-option value="san" (click)="update_default_language('san')">san</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </li>
            </ul>
        </div>
    </main>
</app-user-control>