<app-user-control>
    <!-- <app-header></app-header> -->
    <main>
        <div>
            <h2>Player infos</h2>
            <div>
                <div>Name : {{user.username}}</div>
                <div>robot : {{user.robot}}</div>
                <div>Default running language : <mat-form-field appearance="fill">
                        <mat-label>Available languages</mat-label>
                        <mat-select [(value)]="user.running_language">
                            <mat-option value="js" (click)="update_default_language('js')">js</mat-option>
                            <mat-option value="san" (click)="update_default_language('san')">san</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <h3>Game win rate</h3>
                <div>Points: {{user.score}}</div>
                <div>Games: {{user.win_ratio.games}}</div>
                <div>Victories: {{user.win_ratio.wins}}</div>

                <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm.value)">
                    <h3>Change password</h3>
                    <div class="form-entry">
                        <label for="newPassword">New password</label>
                        <input id="newPassword" type="password" formControlName="newPassword" required>
                    </div>
                    <div class="form-entry">
                        <label for="password">Password</label>
                        <input id="password" type="password" formControlName="password" required>
                    </div>
                    <div class="bottom">
                        <button class="button" type="submit">Change password</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</app-user-control>