<main>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.value)">
        <img src="/assets/logo.png">
        <h1>Sign up</h1>
        <div class="form-entry">
            <label for="username">Username</label>
            <input id="username" type="text" formControlName="username" required>
        </div>
        <div class="form-entry">
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email" required>
        </div>
        <div class="form-entry">
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password" required>
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
            Use at least 8 characters with letters, numbers and symbols.
        </div>
        <div class="bottom">
            <a routerLink="/login">Already have an account? Login here</a>
            <button class="button" type="submit" [disabled]="!signUpForm.valid">Sign up</button>
        </div>
    </form>
</main>