<app-dashboard-admin>
    <main>
        <div class="container">
            <div class="control-bar">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (input)="applyFilter($event)" placeholder="Filter">
                </mat-form-field>
                <button mat-stroked-button (click)="openAddDialog()">
                    <fa-icon [icon]="addIcon"></fa-icon>
                    New group
                </button>
            </div>

            <table mat-table [dataSource]="groups" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let group">
                        <span (click)="openEditDialog(group)">
                            <fa-icon class="edit-area" [icon]="editIcon"></fa-icon>
                            <span class="edit-area"> {{group.name}} </span>
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="permissions">
                    <th mat-header-cell *matHeaderCellDef> Permissions </th>
                    <td mat-cell *matCellDef="let group">
                        <div *ngFor="let permission of group.permissions">
                            <mat-slide-toggle (change)="updateGroup(group)" [(ngModel)]="permission.value" class="space"
                                [checked]="permission.value"> {{permission.name}} </mat-slide-toggle>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator class="mat-elevation-z8" [length]="groups?.data.length" [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </main>
</app-dashboard-admin>