.editor {
  display: flex;

  .action-container {
    button {
      margin: 4px;
    }
  }

  .monaco-container {
    height: 100%;
    width: 100%;

    padding-right: 15px;

    .monaco-editor {
      height: 100%;

      .editor-container {
        height: 100%;
      }
    }

    .files_container {
      .file-class {
        display: inline-block;
      }

      .file-class:focus {
        background-color: orange;
        box-shadow: 0 5px gray;
        transform: translateY(2px);
      }
    }
  }
}
