.editor {
  display: flex;

  .monaco-container {
    height: 100%;
    width: 100%;

    padding-right: 15px;

    .monaco-editor {
      height: 100%;

      .editor-container {
        height: 100%;
      }
    }
  }
}
