<app-user-control>
  <app-header></app-header>
  <main class="editor">
    <div class="monaco-container">


      <ul class="files_container">
        <mat-button-toggle-group class="files_container">
          <mat-button-toggle value="bold" (click)="getCode('js')">JS</mat-button-toggle>
          <mat-button-toggle value="italic" (click)="getCode('san')">SAN</mat-button-toggle>
        </mat-button-toggle-group>
        <li *ngFor="let file of files; let i = index;" (click)="switchCode(file)" (dblclick)="file.changeText=true"
          (keyup.enter)="file.changeText=false" (keyup.escape)="file.changeText=false" [ngClass]="'file-class'">
          <input *ngIf="file.changeText===true" type="text" value="{{file.name}}" (keyup)="renameFile(file, $event)"
            focus="true">
          <button mat-raised-button [class]="file.is_entrypoint? 'entrypoint' : 'file'" *ngIf="file.changeText===false"
            (keyup)="renameFile(file, $event)">{{file.name}}</button>
        </li>
        <li (click)="addFile()" class="file-class">
          <button mate-raised-button>+</button>
        </li>
      </ul>

      <ngx-monaco-editor class="monaco-editor" (keyup)="storeInCache()" [options]="editorOptions" [(ngModel)]="code">
      </ngx-monaco-editor>

      <div class="action-container">
        <button (click)="testCode()">Test code</button>
        <button (click)="saveCode()">Save</button>
        <button (click)="setEntrypoint()">Set file as entrypoint</button>
        <button (click)="deleteFile()">Delete File</button>
      </div>


    </div>


    <app-game></app-game>
  </main>
</app-user-control>