// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tatakae-client-primary: mat-palette($mat-indigo);
$tatakae-client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tatakae-client-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$tatakae-client-theme: mat-light-theme($tatakae-client-primary, $tatakae-client-accent, $tatakae-client-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tatakae-client-theme);

@import "~normalize.css";
@import "~angular-notifier/styles/";

@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");

@mixin remove-default-appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@mixin material-box-shadow {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  font-family: "Karla", sans-serif;

  height: 100%;

  color: #e4e4e4;

  background: #0a041c;
  background: -webkit-linear-gradient(135deg, #0a041c, #110939, #1b0a42);
  background: linear-gradient(135deg, #0a041c, #110939, #1b0a42);

  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}

p {
  color: #d6d6d6;
}

img {
  max-width: 100%;
}

main {
  flex: 1;
}

.notifier__notification--warning {
  background-color: #ca792b;
  background: -webkit-linear-gradient(135deg, #e48c3b, #b16014);
  background: linear-gradient(135deg, #e48c3b, #b16014);
  color: #fff;
}

.notifier__notification--error {
  background-color: #d9534f;
  background: -webkit-linear-gradient(to right, #c41f32, #771f15);
  background: linear-gradient(to right, #c41f32, #771f15);
  color: #fff;
}

.notifier__notification--success {
  background-color: #5cb85c;
  background: -webkit-linear-gradient(135deg, #76ca27, #469222);
  background: linear-gradient(135deg, #76ca27, #469222);
  color: #fff;
}

.notifier__notification--info {
  background-color: #5bc0de;
  background: -webkit-linear-gradient(135deg, #5bc0de, #2277e6);
  background: linear-gradient(135deg, #5bc0de, #2277e6);
  color: #fff;
}

.notifier__container {
  ul {
    margin: 0;
  }
}
